<div *ngIf="recipe">

  <!-- Recipe Heading -->
  <h1 class="my-4">{{recipe.title.rendered}}
    <!-- <small></small> -->
  </h1>

  <!-- Recipe Meta -->
  <div class="row">
    <div class="col-md-8">
      <img class="img-fluid" src="http://placehold.it/750x500" alt="">
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Difficulty</h3>
      <ul>
        <li *ngFor="let difficulty of recipe.difficulties">{{ difficulty }}</li>
      </ul>
      <h3 class="my-3">Allergies</h3>
      <ul>
        <li *ngFor="let allergy of recipe.allergies">{{ allergy }}</li>
      </ul>
    </div>

  </div>

  <!-- Recipe Content -->
  <h3 class="my-4">Instructions</h3>
  <div [innerHTML]="recipe.content.rendered"></div>
  <button type="button" class="btn btn-primary" (click)="goBack()">Back</button>

</div>
